<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CDF Editor"
            extensions="mpe"
            icon="icons/16px-Ericsson_logo.gif"
            contributorClass="soicodegen.editors.CDFEditorContributor"
            class="soicodegen.editors.CDFEditor"
            id="soicodegen.editors.CDFEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="BSCS CMS"
            id="soicodegen">
      </category>
      <wizard
            name="NK SOI command"
            icon="icons/16px-Ericsson_logo.gif"
            category="soicodegen"
            class="soicodegen.wizards.CreateSoiCommandWizard"
            id="soicodegen.wizards.CreateSoiCommandWizard">
      </wizard>
   </extension>

</plugin>
